USE [SalesOrder31M]
GO
/****** Object:  StoredProcedure [dbo].[PlantDropdown_ForUser]    Script Date: 10-04-2026 13:16:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PlantDropdown_ForUser]
    @CompanyCode BIGINT,
    @UserCode    NVARCHAR(50),
    @RoleId      INT
AS
BEGIN
    SET NOCOUNT ON;

    --------------------------------------------------
    -- Role 5,6,7 → All Plants
    --------------------------------------------------
    IF (@RoleId IN (5,6,7))
    BEGIN
        SELECT DISTINCT
            TRIM(CM.Plant) AS Plant
        FROM dbo.TB_CustomerMaster CM
        WHERE CM.CompanyCode = @CompanyCode
          AND TRIM(ISNULL(CM.Plant,'')) <> ''
        ORDER BY Plant;

        RETURN;
    END

    --------------------------------------------------
    -- Role 2 → Direct Self Mapping
    --------------------------------------------------
    IF (@RoleId = 2)
    BEGIN
        SELECT DISTINCT
            TRIM(CM.Plant) AS Plant
        FROM dbo.TB_CustomerMaster CM
        WHERE CM.CompanyCode = @CompanyCode
          AND TRIM(CM.TM) = TRIM(@UserCode)
          AND TRIM(ISNULL(CM.Plant,'')) <> ''
        ORDER BY Plant;

        RETURN;
    END

    --------------------------------------------------
    -- Role 3,4 → Hierarchy
    --------------------------------------------------
    IF (@RoleId IN (3,4))
    BEGIN
        ;WITH OrgCTE AS
        (
            SELECT 
                TRIM(U.UserCode) AS UserCode,
                U.RepManCode
            FROM dbo.Users U
            WHERE U.CompanyCode = @CompanyCode
             -- AND U.IsActive = 1
              AND TRIM(U.UserCode) = TRIM(@UserCode)

            UNION ALL

            SELECT 
                TRIM(C.UserCode),
                C.RepManCode
            FROM dbo.Users C
            INNER JOIN OrgCTE P
                ON TRIM(C.RepManCode) = P.UserCode
            WHERE C.CompanyCode = @CompanyCode
             -- AND C.IsActive = 1
        )

        SELECT DISTINCT
            TRIM(CM.Plant) AS Plant
        FROM dbo.TB_CustomerMaster CM
        INNER JOIN OrgCTE O
            ON TRIM(CM.TM) = O.UserCode
        WHERE CM.CompanyCode = @CompanyCode
          AND TRIM(ISNULL(CM.Plant,'')) <> ''
        ORDER BY Plant
        OPTION (MAXRECURSION 100);

        RETURN;
    END

    --------------------------------------------------
    -- Other Roles → Empty
    --------------------------------------------------
    SELECT TOP 0 CAST(NULL AS NVARCHAR(50)) AS Plant;

END
GO
