USE [SalesOrder]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePlantForIndent]    Script Date: 04/04/2026 16:13:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdatePlantForIndent]
    @CreateOrderNumber NVARCHAR(50),
    @Plant NVARCHAR(50),
    @UpdatedBy NVARCHAR(50)   -- ✅ NEW PARAM
AS
BEGIN
    BEGIN TRY
        BEGIN TRAN

        -- =========================================
        -- ✅ LOG BEFORE UPDATE
        -- =========================================
        INSERT INTO TB_RepManUpdationAuditLogs
        (
            TableName,
            ColumnName,
            RecordId,
            OldValue,
            NewValue,
            UpdatedBy
        )
        SELECT 
            'TB_Create_Dealer_Order',
            'Plant',
            CreateOrderNumber,
            Plant,
            @Plant,
            @UpdatedBy
        FROM TB_Create_Dealer_Order
        WHERE CreateOrderNumber = @CreateOrderNumber
          AND ISNULL(Plant,'') <> ISNULL(@Plant,'')

        -- =========================================
        -- ✅ UPDATE
        -- =========================================
        UPDATE TB_Create_Dealer_Order
        SET Plant = @Plant
        WHERE CreateOrderNumber = @CreateOrderNumber

        IF @@ROWCOUNT = 0
            THROW 50001, 'No order found with given CreateOrderNumber', 1;

        COMMIT TRAN
        RETURN 1
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN
        THROW
    END CATCH
END
GO
