USE [SalesOrder]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDealerOrderNumberAndPurchaseDate]    Script Date: 23/04/2026 10:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetDealerOrderNumberAndPurchaseDate]
    @CustomerCode NVARCHAR(50),
    @PageNumber INT,
    @PageSize INT
AS
BEGIN
    SET NOCOUNT ON;

    -- ✅ Total Records
    SELECT COUNT(*) AS TotalRecords
    FROM TB_Create_Dealer_Order
    WHERE DateOfPurchase IS NOT NULL
     AND CustomerCode = @CustomerCode;

    -- ✅ Paged Data
    SELECT 
        CreateOrderNumber,
        DateOfPurchase
    FROM TB_Create_Dealer_Order
    WHERE DateOfPurchase IS NOT NULL
    AND CustomerCode = @CustomerCode
    ORDER BY DateOfPurchase DESC
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
