USE [SalesOrder]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStates]    Script Date: 04/04/2026 16:13:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetStates]
    @PageNumber INT,
    @PageSize INT
AS
BEGIN
    SET NOCOUNT ON;

    -- ✅ Total Records
    SELECT COUNT(DISTINCT RegionDescription) AS TotalRecords
    FROM TB_CustomerMaster
    WHERE RegionDescription IS NOT NULL
      AND RegionDescription <> 'string';

    -- ✅ Paged Data
    SELECT DISTINCT RegionDescription
    FROM TB_CustomerMaster
    WHERE RegionDescription IS NOT NULL
      AND RegionDescription <> 'string'
    ORDER BY RegionDescription
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
