USE [SalesOrder31M]
GO
/****** Object:  StoredProcedure [dbo].[StorageLocationDropdown_ByPlant]    Script Date: 10-04-2026 13:16:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[StorageLocationDropdown_ByPlant]
    @CompanyCode BIGINT,
    @Plant NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT DISTINCT
        LTRIM(RTRIM(Storage_Location)) AS StorageLocation
    FROM dbo.TB_StockDetails
    WHERE CompanyCode = @CompanyCode
      AND Plant = @Plant
      AND Storage_Location IS NOT NULL
      AND LTRIM(RTRIM(Storage_Location)) <> ''
    ORDER BY StorageLocation;
END
GO
