USE [SalesOrder31M]
GO
/****** Object:  StoredProcedure [dbo].[Get_AllStockDetails]    Script Date: 10-04-2026 13:16:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_AllStockDetails]
    @CompanyCode BIGINT,
    @Plant VARCHAR(5),                 -- ✅ Mandatory
    @Storage_Location VARCHAR(10) = NULL,
    @Crop VARCHAR(100) = NULL,
    @Offset INT,
    @PageSize INT
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH StockCTE AS
    (
        SELECT
            s.CompanyCode,
            s.Plant,
            s.Storage_Location,
            s.Description_of_Storage_Location,
            s.Material,
            s.Material_Description,
            s.Base_Unit_of_Measure,
            SUM(s.Unrestricted_Kgs) AS Unrestricted_Kgs,
            SUM(s.Stock_in_Transit) AS Stock_in_Transit
        FROM TB_StockDetails s
        LEFT JOIN TB_PriceMaster p
            ON s.CompanyCode = p.CompanyCode
            AND s.Material = p.Material_Number
        WHERE s.CompanyCode = @CompanyCode
            AND s.Plant = @Plant              -- ✅ No NULL condition
            AND (@Storage_Location IS NULL OR s.Storage_Location = @Storage_Location)
            AND (@Crop IS NULL OR p.Crop = @Crop)
        GROUP BY
            s.CompanyCode,
            s.Plant,
            s.Storage_Location,
            s.Description_of_Storage_Location,
            s.Material,
            s.Material_Description,
            s.Base_Unit_of_Measure
    )

    SELECT *
    FROM StockCTE
    ORDER BY Material
    OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;
END
GO
