USE [SalesOrder]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPlants]    Script Date: 04/04/2026 16:13:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetPlants]
    @PageNumber INT,
    @PageSize INT
AS
BEGIN
    SET NOCOUNT ON;

    -- ✅ Total Records (DISTINCT COMBINATION)
    SELECT COUNT(*) AS TotalRecords
    FROM (
        SELECT DISTINCT 
            Plant, 
            Storage_Location, 
            Description_of_Storage_Location
        FROM TB_StockDetails
        WHERE Plant IS NOT NULL 
          AND CompanyCode = '1049'
    ) AS DistinctData;

    -- ✅ Paged Data
    SELECT DISTINCT 
        Plant, 
        Storage_Location, 
        Description_of_Storage_Location
    FROM TB_StockDetails
    WHERE Plant IS NOT NULL 
      AND CompanyCode = '1049'
    ORDER BY Plant
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
