USE [SalesOrder]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePlantForDealer]    Script Date: 04/04/2026 16:13:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdatePlantForDealer]
    @CustomerCode NVARCHAR(50),
    @Plant NVARCHAR(50),
    @UpdatedBy NVARCHAR(50)   -- ✅ NEW PARAM
AS
BEGIN
    BEGIN TRY
        BEGIN TRAN

        -- =========================================
        -- ✅ LOG BEFORE UPDATE
        -- =========================================
        INSERT INTO TB_RepManUpdationAuditLogs
        (
            TableName,
            ColumnName,
            RecordId,
            OldValue,
            NewValue,
            UpdatedBy
        )
        SELECT 
            'TB_CustomerMaster',
            'Plant',
            CustomerCode,
            Plant,
            @Plant,
            @UpdatedBy
        FROM TB_CustomerMaster
        WHERE CustomerCode = @CustomerCode
          AND ISNULL(Plant,'') <> ISNULL(@Plant,'')

        -- =========================================
        -- ✅ UPDATE
        -- =========================================
        UPDATE TB_CustomerMaster
        SET Plant = @Plant
        WHERE CustomerCode = @CustomerCode

        IF @@ROWCOUNT = 0
            THROW 50001, 'No customer found with given CustomerCode', 1;

        COMMIT TRAN
        RETURN 1
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN
        THROW
    END CATCH
END
GO
