USE [SalesOrder31M]
GO
/****** Object:  StoredProcedure [dbo].[CropDropdown_ForUser]    Script Date: 10-04-2026 13:16:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[CropDropdown_ForUser]
    @CompanyCode BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT DISTINCT
        LTRIM(RTRIM(Crop)) AS Crop
    FROM dbo.TB_PriceMaster
    WHERE CompanyCode = @CompanyCode
      AND Crop IS NOT NULL
      AND LTRIM(RTRIM(Crop)) <> ''
      AND (Deletion_Indicator IS NULL OR Deletion_Indicator = '')
      AND GETDATE() BETWEEN Valid_From AND Valid_To
    ORDER BY Crop;
END
GO
