USE [SalesOrder]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPlants]    Script Date: 23/04/2026 10:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetPlants]
    @PageNumber INT,
    @PageSize INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Total Records (DISTINCT Plant)
    SELECT COUNT(DISTINCT Plant) AS TotalRecords
    FROM TB_StockDetails
    WHERE Plant IS NOT NULL 
      AND CompanyCode = '1049';

    -- Paged Data (ONLY Plant)
    SELECT DISTINCT Plant
    FROM TB_StockDetails
    WHERE Plant IS NOT NULL 
      AND CompanyCode = '1049'
    ORDER BY Plant
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
