USE [SalesOrder]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetFirstApprovers]    Script Date: 23/04/2026 10:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetFirstApprovers]
    @PageNumber INT,
    @PageSize INT,
    @Search NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- ✅ Total Records (WITH SEARCH)
    SELECT COUNT(*) AS TotalRecords
    FROM Users
    WHERE RoleId NOT IN (1, 10)
      AND CompanyCode = 1049
      AND (
            @Search IS NULL
            OR Name LIKE '%' + @Search + '%'
            OR UserCode LIKE '%' + @Search + '%'
          );

    -- ✅ Paged Data (WITH SEARCH)
    SELECT 
        UserCode,
        Name
    FROM Users
    WHERE RoleId NOT IN (1, 10)   -- ⚠️ fix here also (you missed 10 earlier)
      AND CompanyCode = 1049
      AND (
            @Search IS NULL
            OR Name LIKE '%' + @Search + '%'
            OR UserCode LIKE '%' + @Search + '%'
          )
    ORDER BY Name
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
