USE [SalesOrder]
GO
/****** Object:  UserDefinedTableType [dbo].[CustomerCodeTableType]    Script Date: 04/04/2026 16:13:40 ******/
CREATE TYPE [dbo].[CustomerCodeTableType] AS TABLE(
	[CustomerCode] [nvarchar](50) NULL
)
GO
