USE [SalesOrder]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetFirstApprovers]    Script Date: 04/04/2026 16:13:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetFirstApprovers]
    @PageNumber INT,
    @PageSize INT
AS
BEGIN
    SET NOCOUNT ON;

    -- ✅ Total Records
    SELECT COUNT(*) AS TotalRecords
    FROM Users
    WHERE RoleId <> 1
      AND CompanyCode = 1049;

    -- ✅ Paged Data
    SELECT 
        UserCode,
        Name
    FROM Users
    WHERE RoleId <> 1
      AND CompanyCode = 1049
    ORDER BY Name
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
