USE [SalesOrder]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateRepManForUser]    Script Date: 04/04/2026 16:13:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateRepManForUser]
    @UserCode NVARCHAR(50),
    @RepManCode NVARCHAR(50),
    @UpdatedBy NVARCHAR(50)   -- ✅ NEW PARAM
AS
BEGIN
    BEGIN TRY
        BEGIN TRAN

        -- =========================================
        -- ✅ LOG BEFORE UPDATE
        -- =========================================
        INSERT INTO TB_RepManUpdationAuditLogs
        (
            TableName,
            ColumnName,
            RecordId,
            OldValue,
            NewValue,
            UpdatedBy
        )
        SELECT 
            'Users',
            'RepManCode',
            UserCode,
            RepManCode,
            @RepManCode,
            @UpdatedBy
        FROM Users
        WHERE UserCode = @UserCode
          AND ISNULL(RepManCode,'') <> ISNULL(@RepManCode,'')

        -- =========================================
        -- ✅ UPDATE
        -- =========================================
        UPDATE Users
        SET RepManCode = @RepManCode
        WHERE UserCode = @UserCode

        IF @@ROWCOUNT = 0
            THROW 50001, 'No user found with given UserCode', 1;

        COMMIT TRAN
        RETURN 1
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN
        THROW
    END CATCH
END
GO
