USE [SalesOrder]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDealerOrderNumberAndPurchaseDate]    Script Date: 04/04/2026 16:13:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetDealerOrderNumberAndPurchaseDate]
    @PageNumber INT,
    @PageSize INT
AS
BEGIN
    SET NOCOUNT ON;

    -- ✅ Total Records
    SELECT COUNT(*) AS TotalRecords
    FROM TB_Create_Dealer_Order
    WHERE DateOfPurchase IS NOT NULL;

    -- ✅ Paged Data
    SELECT 
        CreateOrderNumber,
        DateOfPurchase
    FROM TB_Create_Dealer_Order
    WHERE DateOfPurchase IS NOT NULL
    ORDER BY DateOfPurchase DESC
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
