USE [SalesOrder]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateRepManCodeForCustomerAndUser]    Script Date: 04/04/2026 16:13:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateRepManCodeForCustomerAndUser]
    @CustomerCodes CustomerCodeTableType READONLY,
    @UserCode NVARCHAR(50),
    @UpdatedBy NVARCHAR(50)   -- ✅ NEW PARAM
AS
BEGIN
    BEGIN TRY
        BEGIN TRAN

        -- =========================================
        -- ✅ LOG CustomerMaster (BEFORE UPDATE)
        -- =========================================
        INSERT INTO TB_RepManUpdationAuditLogs
        (
            TableName,
            ColumnName,
            RecordId,
            OldValue,
            NewValue,
            UpdatedBy
        )
        SELECT 
            'TB_CustomerMaster',
            'TM',
            CM.CustomerCode,
            CM.TM,
            @UserCode,
            @UpdatedBy
        FROM TB_CustomerMaster CM
        INNER JOIN @CustomerCodes CC
            ON CM.CustomerCode = CC.CustomerCode
        WHERE ISNULL(CM.TM,'') <> ISNULL(@UserCode,'')

        -- =========================================
        -- ✅ UPDATE CustomerMaster
        -- =========================================
        UPDATE CM
        SET CM.TM = @UserCode
        FROM TB_CustomerMaster CM
        INNER JOIN @CustomerCodes CC
            ON CM.CustomerCode = CC.CustomerCode


        -- =========================================
        -- ✅ LOG Users (BEFORE UPDATE)
        -- =========================================
        INSERT INTO TB_RepManUpdationAuditLogs
        (
            TableName,
            ColumnName,
            RecordId,
            OldValue,
            NewValue,
            UpdatedBy
        )
        SELECT 
            'Users',
            'RepManCode',
            UM.UserCode,
            UM.RepManCode,
            @UserCode,
            @UpdatedBy
        FROM Users UM
        INNER JOIN @CustomerCodes CC
            ON UM.UserCode = CC.CustomerCode
        WHERE ISNULL(UM.RepManCode,'') <> ISNULL(@UserCode,'')

        -- =========================================
        -- ✅ UPDATE Users
        -- =========================================
        UPDATE UM
        SET UM.RepManCode = @UserCode
        FROM Users UM
        INNER JOIN @CustomerCodes CC
            ON UM.UserCode = CC.CustomerCode

        COMMIT TRAN
        RETURN 1
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN
        THROW
    END CATCH
END
GO
