USE [SalesOrder]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDealersByState]    Script Date: 23/04/2026 10:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetDealersByState]
    @RegionDescription NVARCHAR(100),
    @PageNumber INT,
    @PageSize INT,
    @Search NVARCHAR(100) = NULL   -- ✅ NEW
AS
BEGIN
    SET NOCOUNT ON;

    -- ✅ Total Records (WITH SEARCH)
    SELECT COUNT(*) AS TotalRecords
    FROM TB_CustomerMaster
    WHERE RegionDescription = @RegionDescription
      AND (
            @Search IS NULL
            OR CustomerName LIKE '%' + @Search + '%'
            OR CustomerCode LIKE '%' + @Search + '%'
          );

    -- ✅ Paged Data (WITH SEARCH)
    SELECT 
        CustomerCode,
        CustomerName
    FROM TB_CustomerMaster
    WHERE RegionDescription = @RegionDescription
      AND (
            @Search IS NULL
            OR CustomerName LIKE '%' + @Search + '%'
            OR CustomerCode LIKE '%' + @Search + '%'
          )
    ORDER BY CustomerName
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
