USE [SalesOrder]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDealersByState]    Script Date: 04/04/2026 16:13:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetDealersByState]
    @RegionDescription NVARCHAR(100),
    @PageNumber INT,
    @PageSize INT
AS
BEGIN
    SET NOCOUNT ON;

    -- ✅ Total Records
    SELECT COUNT(*) AS TotalRecords
    FROM TB_CustomerMaster
    WHERE RegionDescription = @RegionDescription;

    -- ✅ Paged Data
    SELECT 
        CustomerCode,
        CustomerName
    FROM TB_CustomerMaster
    WHERE RegionDescription = @RegionDescription
    ORDER BY CustomerName
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
