USE [SalesOrder31M]
GO
/****** Object:  StoredProcedure [dbo].[Get_AllStockDetails]    Script Date: 22-04-2026 15:08:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Get_AllStockDetails]
    @CompanyCode BIGINT,
    @Plant VARCHAR(5),
    @Storage_Location VARCHAR(10) = NULL,
    @Crop VARCHAR(100) = NULL,
    @StockAvailable BIT = NULL,
    @Offset INT,
    @PageSize INT
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH FilteredStock AS
    (
        SELECT
            CompanyCode,
            Plant,
            Storage_Location,
            Description_of_Storage_Location,
            Material,
            Material_Description,
            Base_Unit_of_Measure,
            ISNULL(Unrestricted_Kgs, 0) AS Unrestricted_Kgs,
            ISNULL(Stock_in_Transit, 0) AS Stock_in_Transit
        FROM dbo.TB_StockDetails
        WHERE CompanyCode = @CompanyCode
          AND Plant = @Plant
          AND (@Storage_Location IS NULL OR Storage_Location = @Storage_Location)
          AND
          (
                @StockAvailable IS NULL
                OR (@StockAvailable = 1 AND ISNULL(Unrestricted_Kgs, 0) > 0)
                OR (@StockAvailable = 0 AND ISNULL(Unrestricted_Kgs, 0) = 0)
          )
    ),
    FinalData AS
    (
        SELECT
            s.CompanyCode,
            s.Plant,
            s.Storage_Location,
            s.Description_of_Storage_Location,
            s.Material,
            s.Material_Description,
            s.Base_Unit_of_Measure,
            SUM(s.Unrestricted_Kgs) AS Unrestricted_Kgs,
            SUM(s.Stock_in_Transit) AS Stock_in_Transit
        FROM FilteredStock s
        LEFT JOIN dbo.TB_PriceMaster p
            ON s.CompanyCode = p.CompanyCode
           AND s.Material = p.Material_Number
        WHERE (@Crop IS NULL OR p.Crop = @Crop)
        GROUP BY
            s.CompanyCode,
            s.Plant,
            s.Storage_Location,
            s.Description_of_Storage_Location,
            s.Material,
            s.Material_Description,
            s.Base_Unit_of_Measure
    )
    SELECT *
    FROM FinalData
    ORDER BY Material
    OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;
END
GO
