USE [SalesOrder31M]
GO
/****** Object:  StoredProcedure [dbo].[Get_StatesDropdown_ByUserCode]    Script Date: 17-04-2026 15:52:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[Get_StatesDropdown_ByUserCode]
    @UserCode NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SET @UserCode = UPPER(LTRIM(RTRIM(@UserCode)));

        IF @UserCode IS NULL OR @UserCode = ''
        BEGIN
            RAISERROR('UserCode is required.', 16, 1);
            RETURN;
        END

        DECLARE @RoleId INT;

        SELECT TOP 1
            @RoleId = U.RoleId
        FROM dbo.Users U
        WHERE UPPER(LTRIM(RTRIM(U.UserCode))) = @UserCode;

        IF @RoleId IS NULL
        BEGIN
            RAISERROR('User not found.', 16, 1);
            RETURN;
        END

        DECLARE @RMs TABLE
        (
            UserCode NVARCHAR(50) PRIMARY KEY
        );

        DECLARE @TMs TABLE
        (
            UserCode NVARCHAR(50) PRIMARY KEY
        );

        -- TM -> Customers -> States
        IF @RoleId = 2
        BEGIN
            INSERT INTO @TMs(UserCode)
            VALUES (@UserCode);
        END
        -- RM -> TMs -> Customers -> States
        ELSE IF @RoleId = 3
        BEGIN
            INSERT INTO @TMs(UserCode)
            SELECT DISTINCT UPPER(LTRIM(RTRIM(U.UserCode)))
            FROM dbo.Users U
            WHERE UPPER(LTRIM(RTRIM(U.RepManCode))) = @UserCode
              AND U.RoleId = 2;
        END
        -- ZM -> RMs -> TMs -> Customers -> States
        ELSE IF @RoleId = 4
        BEGIN
            INSERT INTO @RMs(UserCode)
            SELECT DISTINCT UPPER(LTRIM(RTRIM(U.UserCode)))
            FROM dbo.Users U
            WHERE UPPER(LTRIM(RTRIM(U.RepManCode))) = @UserCode
              AND U.RoleId = 3;

            INSERT INTO @TMs(UserCode)
            SELECT DISTINCT UPPER(LTRIM(RTRIM(U.UserCode)))
            FROM dbo.Users U
            INNER JOIN @RMs R
                ON UPPER(LTRIM(RTRIM(U.RepManCode))) = R.UserCode
            WHERE U.RoleId = 2;
        END
        ELSE
        BEGIN
            RAISERROR('Only TM, RM and ZM users are allowed.', 16, 1);
            RETURN;
        END

        SELECT DISTINCT
            LTRIM(RTRIM(C.RegionDescription)) AS State
        FROM dbo.TB_CustomerMaster C
        INNER JOIN @TMs T
            ON UPPER(LTRIM(RTRIM(C.TM))) = T.UserCode
        WHERE ISNULL(LTRIM(RTRIM(C.RegionDescription)), '') <> ''
        ORDER BY LTRIM(RTRIM(C.RegionDescription));
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END
GO
