USE [SalesOrder31M]
GO
/****** Object:  StoredProcedure [dbo].[Get_OrderDealer_Report]    Script Date: 15-04-2026 14:19:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_OrderDealer_Report]
    @Offset INT = 0,
    @PageSize INT = 10
AS
BEGIN
    SET NOCOUNT ON;

    -- Total Count
    SELECT COUNT(1) AS TotalRecords
    FROM dbo.OrdersMHZPC O
    INNER JOIN dbo.DealerOrderMHZPC D
        ON O.OrderNumber = D.OrderNumber;

    -- Paged Data
    SELECT
        O.OrderNumber,
        O.CustomerCode,
        O.OrderDate,
        O.OrderStatus,
        O.State,

        D.ProductName,
        D.OrderQuantity,
        D.OrderAmount,
        D.DispatchStatus,
        D.TMApproval,
        D.HAApproval,
        D.SoNumber,
        D.SODate

    FROM dbo.OrdersMHZPC O
    INNER JOIN dbo.DealerOrderMHZPC D
        ON O.OrderNumber = D.OrderNumber

    ORDER BY O.OrderDate DESC
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[Get_OrderDealer_Report_Export]    Script Date: 15-04-2026 14:19:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_OrderDealer_Report_Export]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        -- Orders Table
        O.OrderNumber AS OrderNumber,
        O.CustomerCode,
        O.BillingAddress,
        O.ShippingAddress,
        O.ContactPersonName,
        O.ContactPersonNumber,
        O.OrderDate,
        O.OrderStatus,
        O.State,

        -- Dealer Table
        D.Id,
        D.OrderNumber AS DealerOrderNumber,  -- 🔥 rename duplicate
        D.CartId,
        D.PriceCardType,
        D.ProductName,
        D.Condition_Amount,
        D.BookingPrice,
        D.OrderQuantity,
        D.OrderAmount,
        D.BookingAmount,
        D.BalanceAmountToPay,
        D.SecondaryProductName,
        D.SecondaryCondition_Amount,
        D.SecondaryBookingPrice,
        D.SecondaryOrderQuantity,
        D.SecondaryOrderAmount,
        D.SecondaryBookingAmount,
        D.SecondaryBalanceAmountToPay,
        D.DispatchStatus,
        D.TMApproval,
        D.SoNumber,
        D.DateOfPurchase,
        D.TMApproval_Date,
        D.HAApproval,
        D.HAApproval_Date,
        D.PrimaryRatio,
        D.SecondaryRatio,
        D.ProductId,
        D.TMNAME,
        D.TMUserCode,
        D.HAName,
        D.HAUserCode,
        D.TMRejectionReasonId,
        D.HARejectionReasonId,
        D.PrimaryDispatchStatus,
        D.SecondaryDispatchStatus,
        D.SODate

    FROM dbo.OrdersMHZPC O
    INNER JOIN dbo.DealerOrderMHZPC D
        ON O.OrderNumber = D.OrderNumber

    ORDER BY O.OrderDate DESC;
END
GO
