USE [SalesOrder31M]
GO
/****** Object:  StoredProcedure [dbo].[USP_GetAllJobTitlesByCompanyCode]    Script Date: 22-04-2026 10:52:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_GetAllJobTitlesByCompanyCode]
    @CompanyCode BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT JobTitle
    FROM dbo.Users
    WHERE CompanyCode = @CompanyCode
      AND JobTitle IS NOT NULL
      AND LTRIM(RTRIM(JobTitle)) <> ''
    GROUP BY JobTitle
    ORDER BY JobTitle;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateRoleDetailsByJobTitle]    Script Date: 22-04-2026 10:52:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_UpdateRoleDetailsByJobTitle]
    @CompanyCode BIGINT,
    @JobTitle NVARCHAR(200),
    @RoleId INT,
    @RoleDetails NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT Off;

    DECLARE @RoleName NVARCHAR(100);

    -- Get RoleName from Roles table
    SELECT @RoleName = RoleName
    FROM dbo.Roles
    WHERE RoleId = @RoleId;

    -- Validate RoleId
    IF @RoleName IS NULL
    BEGIN
        RAISERROR('Invalid RoleId. Role not found in Roles table.', 16, 1);
        RETURN;
    END

    -- Update Users table
    UPDATE dbo.Users
    SET 
        RoleId = @RoleId,
        Role_Details = @RoleDetails,
        Updated_At = GETDATE()
    WHERE CompanyCode = @CompanyCode
      AND LOWER(LTRIM(RTRIM(JobTitle))) = LOWER(LTRIM(RTRIM(@JobTitle)));

    -- Maintain JobTitleRoleMappings table
    IF EXISTS
    (
        SELECT 1
        FROM dbo.JobTitleRoleMappings
        WHERE CompanyCode = @CompanyCode
          AND LOWER(LTRIM(RTRIM(JobTitleKeyword))) = LOWER(LTRIM(RTRIM(@JobTitle)))
    )
    BEGIN
        UPDATE dbo.JobTitleRoleMappings
        SET RoleName = @RoleName
        WHERE CompanyCode = @CompanyCode
          AND LOWER(LTRIM(RTRIM(JobTitleKeyword))) = LOWER(LTRIM(RTRIM(@JobTitle)));
    END
    ELSE
    BEGIN
        INSERT INTO dbo.JobTitleRoleMappings
        (
            JobTitleKeyword,
            RoleName,
            CompanyCode
        )
        VALUES
        (
            LTRIM(RTRIM(@JobTitle)),
            @RoleName,
            @CompanyCode
        );
    END
END
GO
