USE [SalesOrder31M]
GO
/****** Object:  StoredProcedure [dbo].[Get_PriceCard]    Script Date: 17-04-2026 14:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Get_PriceCard]
    @CompanyCode        BIGINT,
    @Status             BIT           = NULL,
    @PriceCardType      NVARCHAR(10)  = NULL,
    @Variety            NVARCHAR(100) = NULL,
    @CustomerCode       NVARCHAR(50)  = NULL,
    @DestinationState   NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- If destination state is not passed, return no data
    IF @DestinationState IS NULL OR LTRIM(RTRIM(@DestinationState)) = ''
    BEGIN
        SELECT TOP 0
            pc.Id,
            pc.PriceCardType,
            pc.Variety,
            pc.Product,
            pc.Generation,
            pc.Grade,
            gs.Size AS Size,
            pc.BookingPrice,
            pc.State,
            pc.DestinationState,
            pc.PrimaryRatio,
            pc.SecondaryVariety,
            pc.SecondaryProduct,
            pc.SecondaryGeneration,
            pc.SecondaryGrade,
            gs2.Size AS SecondarySize,
            pc.SecondaryBookingPrice,
            pc.SecondaryRatio,
            pc.CreatedOn,
            pc.ConditionTable,
            pc.Status,
            COALESCE(pc.PrimaryConditionAmount, 0) AS PrimaryConditionAmount,
            COALESCE(pc.SecondaryConditionAmount, 0) AS SecondaryConditionAmount
        FROM dbo.TB_PriceCard AS pc
        LEFT JOIN dbo.TB_GradeSize AS gs  ON pc.Grade = gs.Grade
        LEFT JOIN dbo.TB_GradeSize AS gs2 ON pc.SecondaryGrade = gs2.Grade;

        RETURN;
    END

    SET @DestinationState = LTRIM(RTRIM(@DestinationState));
    SET @PriceCardType = NULLIF(LTRIM(RTRIM(@PriceCardType)), '');
    SET @Variety = NULLIF(LTRIM(RTRIM(@Variety)), '');

    SELECT
        pc.Id,
        pc.PriceCardType,
        pc.Variety,
        pc.Product,
        pc.Generation,
        pc.Grade,
        gs.Size AS Size,
        pc.BookingPrice,
        pc.State,
        pc.DestinationState,
        pc.PrimaryRatio,
        pc.SecondaryVariety,
        pc.SecondaryProduct,
        pc.SecondaryGeneration,
        pc.SecondaryGrade,
        gs2.Size AS SecondarySize,
        pc.SecondaryBookingPrice,
        pc.SecondaryRatio,
        pc.CreatedOn,
        pc.ConditionTable,
        pc.Status,
        COALESCE(pc.PrimaryConditionAmount, 0) AS PrimaryConditionAmount,
        COALESCE(pc.SecondaryConditionAmount, 0) AS SecondaryConditionAmount
    FROM dbo.TB_PriceCard AS pc
    LEFT JOIN dbo.TB_GradeSize AS gs
        ON pc.Grade = gs.Grade
    LEFT JOIN dbo.TB_GradeSize AS gs2
        ON pc.SecondaryGrade = gs2.Grade
    WHERE
        (@Status IS NULL OR pc.Status = @Status)
        AND (@PriceCardType IS NULL OR pc.PriceCardType = @PriceCardType)
        AND (@Variety IS NULL OR pc.Variety = @Variety)
        AND LTRIM(RTRIM(pc.DestinationState)) = @DestinationState
    ORDER BY pc.CreatedOn DESC;
END
GO
