USE [SalesOrder31M]
GO
/****** Object:  StoredProcedure [dbo].[GetLatestStockUpdateLog]    Script Date: 22-04-2026 18:13:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetLatestStockUpdateLog]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 1
        InsertedOn
    FROM dbo.DataInsertLog
    ORDER BY InsertedOn DESC;
END
GO
