USE [SalesOrder31M]
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateRoleDetailsByJobTitle]    Script Date: 18-04-2026 12:50:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_UpdateRoleDetailsByJobTitle]
    @JobTitle NVARCHAR(200),
    @RoleId INT,
    @RoleDetails NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT OFF;

    DECLARE @RoleName NVARCHAR(50);

    -- Get RoleName from Roles table using RoleId
    SELECT @RoleName = RoleName
    FROM dbo.Roles
    WHERE RoleId = @RoleId;

    -- Update Users table
    UPDATE dbo.Users
    SET 
        RoleId = @RoleId,
        Role_Details = @RoleDetails,
        Updated_At = GETDATE()
    WHERE LOWER(LTRIM(RTRIM(JobTitle))) = LOWER(LTRIM(RTRIM(@JobTitle)));

    -- Update JobTitleRoleMappings table if JobTitle exists
    IF EXISTS
    (
        SELECT 1
        FROM dbo.JobTitleRoleMappings
        WHERE LOWER(LTRIM(RTRIM(JobTitleKeyword))) = LOWER(LTRIM(RTRIM(@JobTitle)))
    )
    BEGIN
        UPDATE dbo.JobTitleRoleMappings
        SET RoleName = @RoleName
        WHERE LOWER(LTRIM(RTRIM(JobTitleKeyword))) = LOWER(LTRIM(RTRIM(@JobTitle)));
    END
    ELSE
    BEGIN
        INSERT INTO dbo.JobTitleRoleMappings (JobTitleKeyword, RoleName)
        VALUES (LTRIM(RTRIM(@JobTitle)), @RoleName);
    END
END
GO
